@charset "UTF-8";

/*

*/


/*Confidurações Padrão*/

* {

    
    margin: 0;
    border: 0;
    padding: 0;

}



/**/

/*Container LOGIN*/

.container-mine {

    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #321473, #281159);
    /*Alinhando box*/
    display: flex; 
    align-items: center;
    justify-content: center;

}

.box {

    width: 500px;
    height: auto;
    background: #ffff;
    border-radius: 10px;

    

}

#input-global {

    margin: 30px;

}

.btn-logar {

    background-color: #321473;
    padding: 10px 30px 10px 30px; /* top, right, bottom, left*/
    width: 100%;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

/**/

/*Estilo header "mesmo da tella main"*/

.bg-header {

    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0; /*top para fixar no topo idependente de margin ou padding*/
    
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 5px 0.5px rgba(0, 0, 0, 0.171);
    

}

header {

    max-width: 1300px;
    margin: auto;
    

}   

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ul-img {

    display: flex;
    align-items: center;

}

nav ul li {

    display: inline-block;

}

/*Buttons header*/

.btn-login {

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #7A4ED9;
    padding: 10px 30px 10px 30px; /* top, right, bottom, left*/
    border-radius: 5px;
    color: white;
    margin: 0px 20px 0px 20px;

}

.btn-registro {

   background-color: transparent;
   color: rgb(0, 0, 0); 
   margin: 0px 20px 0px 20px;

}

